.contact-container
{
 
   flex: auto;

}
.title-container
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.search-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px solid black;
    
}